<li>
  <div>
    {{firstName}} {{lastName}}
  </div>
  <dl>
    <dt>Sex:</dt>
    <dd>{{sex}}</dd>
    <dt>Email:</dt>
    <dd>{{email}}</dd>
    <dt>Claim To Fame:</dt>
    <dd>{{clameToFame}}</dd>
  </dl>
</li>
